DATABASE_TYPE=mysql
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=nobody-user
DATABASE_PASSWORD=nobody-password
DATABASE_NAME=nobody-db
DATABASE_SYNCHRONIZE=true

AUTH_JWT_SECRET=replace_this_with_a_long_random_secret
AUTH_JWT_TOKEN_EXPIRES_IN=3600
