@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-black;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

div.box {
  color: white;
  background: black;
  border: 1px solid white;
  padding: 8px 16px;
}

form.box {
  gap: 8px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

input.box {
  color: white;
  padding: 6px 10px;
  backgroundColor: black;
  border: 1px solid white;
}

button.box {
  cursor: pointer;
  padding: 6px 10px;
  border: 1px solid white;
  color: white;
  background: black;
}

button.box:hover{
  color: black;
  background: white;
}

.navcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  width: 30%;
  display: flex;
  justify-content: space-around;
  border: 1px solid white;
  padding: 8px 0px;
}
